/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
}

/*=============== CLOCK ===============*/
.clock_container {
  height: 100vh;
  grid-template-rows: 1fr max-content;
}

.clock_content {
  align-self: center;
  row-gap: 3.5rem;
}
/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}